*{
    margin: 0;
    padding: 0;
}


.inter-fonts {
  font-family: "Inter", sans-serif;
}

body{
    background-color: #1A0B2E;

}

header{
    margin: 0 auto;
    max-width: 1600px;
}
nav{
    display: flex;
  align-items: center;
  justify-content: space-between;
   margin: 20px 60px;
  padding: 10px 10px;
    
}
nav li {
    list-style: none;
    display: inline;
    margin-right: 15px;
    
}
nav li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

h1{
   color: white;
}
.wave{
    color: rgba(251, 9, 180, 1) ;
}


.btn-parent{
   display: flex;
   margin-left: 80px;
   gap: 10px;
}
.parent-tech{
     margin: 70px auto;
     max-width: 1200px;
}
.tech-p{
    margin: 20px auto;
    color: #FFFFFF;
    max-width: 570px;
    opacity: 50%;
}
.parent-tech, .tech-p{
    max-width: 550px;
}
.btn-1{
  padding: 12px 16px;
  border: none;
  color: white;
  max-width: 200px;
  gap: 5px;
  background-image: linear-gradient(21deg, #F7E93F, #FB09B4, #9100F8);
  font-size: 16px;
  border-radius: 50px;
  font-weight: 600;
  align-items: center;
  display: flex;
}
.btn-sb{
     padding: 12px 16px;
  border: none;
  color: white;
  max-width: 200px;
  gap: 5px;
  background-image: linear-gradient(21deg, #F7E93F, #FB09B4, #9100F8);
  font-size: 16px;
  border-radius: 50px;
  font-weight: 600;
  align-items: center;
  display: flex;
}
.menu{
    display: none;
}

.btn-2{
    display: flex;
    gap: 5px;
   max-width: 140px;
    font-size:16px ;
    font-weight:600 ;
   padding:12px 16px ;
    color: #00FF88;
    background-color: #1A0B2E;
    border: 1px solid #007B70;
    border-radius: 50px;
    align-items: center;
}

.hero-pic{
    border-top: 1px solid white;
  opacity: 80%;
    background-image: url(../assets/hero-bg.png);
     height: 720px;
     background-size: contain;
     background-repeat: no-repeat;
}

.sect-mb{
    margin: 0 auto;
    max-width: 1200px ;
}

.tech{
    max-width: 560px;
}

.container-wave{
    margin: 130px auto;
    max-width: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    
}

.mirco{
 margin-top: -200px;
}
.cir img{
    width: 250px;
}
.mir img{
    width: 100px;
}

.new{
    background-color: #00FF88;
    color: #1A0B2E;
    padding: 8px 15px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    position: absolute;
    margin-top: -210px;

}



.container-podcast{
    margin: 0 auto;    
}

.about{
  text-align: center;
  margin: 0px auto 60px;
  padding-bottom: 50px;
  border-bottom: 1px solid white;
}
.about p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
   margin-top: 16px;
   opacity: 50%;

}
.about h3{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
}
.parent-view{
    gap: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    
   
}

.views{
    text-align: center;
    max-width: 240px;
    margin-bottom: 60px;
    
}

.views h1{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88; 
}
.views p{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 50%;
}



.choose-parent{
    max-width: 1000px;
    height: 780px;
    margin: 40px auto ;
    display: grid;
    grid-template-columns: 300px 660px;
    gap:20px;
}
.box{
    padding: 20px;
    align-items: center;
    border: none;
    border-radius: 40px;
    background-color: #351165;
}


.font-h{
    font-size: 24px;
    font-weight: 700;
    margin: 20px auto;
    color: #FFFFFF;
}

.font-p{
    font-size: 16px;
    font-weight: 400;
    margin: 20px auto;
    color: #FFFFFF;
    opacity: 50%;
}

#box-1 {
    padding-top: 100px;
    grid-row: span 2;
}
 #box-3{
   padding-top: 20px;
    
}

#box-2{
    padding-top: 20px;
}



.choos2-parent{
    max-width: 1000px;
    display: grid;
    gap: 20px;
    grid-template-columns: 660px 300px;
    margin: 40px auto;
   
}
.box1{
    padding: 20px;
    align-items: center;
    border: 7px solid green;
    background-color: #00FF88;
}

.feature-contain{
    max-width: 1200px;
    margin: 120px auto;
    
}

.feature-contain h2{
    text-align: center;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
}

.feature-episode{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.episode{
    margin: 30px auto;
    max-width: 350px;
    border-radius: 10px;
   display: flex;
   flex-direction: column;
   background-color: #351165;
}
.episode h3{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
}
.episode p{
    color: #FFFFFF;
    opacity: 50%;
    font-size: 16px;
    font-weight: 400;
}

.clock{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
}

.episode h3{
    padding: 24px;
    font-size: 24px;
    font-weight: 700;
    text-align: justify;
}
.episode h5{
    padding: 24px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
.episode p{
    padding: 24px;
     font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.alex-kumar{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    text-align: justify;
}

.bio-data {
    margin: 30px auto;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 50%;
}


.account-img{
   width: 80%;
}
.the{
    text-align: center;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}
.alex{
    margin: 30px auto;
    font-size: 32px;
    font-weight: 700;
}
.img-move{
    margin: 12px auto;
}
.account{
    align-items: center;
    box-sizing: border-box;
    border: 2px  #533C72;
    border-radius: 80px;
    
}
.meet-contain{
    margin: 20px auto;
    background-color: #351165;
    border-radius: 40px;
}

.met-acont{
    display: flex;
    gap: 10px;
    margin: 30px auto;
}

/* foooter */

footer{
    margin: 0 auto;
    max-width: 1600px;
}

.hero-pic2{
    margin: 20px auto;
    background-image: url(../assets/hero-bg.png);
     height: 400px;
     background-size: 100%;
     background-repeat: no-repeat;
}

.linier{
  color: #FFFFFF;
  text-align: center;
  margin-top: 80px;
}
.lini{
    color: #FB09B4;
}

.hero-foot{ 
  margin-top: 69px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.foot-contain{
    display: grid;
   grid-template-columns: repeat(4, 1fr);
    gap: 28px;
}
.foot{
    display: flex;
    gap:8px;
    align-items: center;
}

.foot p{
    margin: 40px auto;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 80%;
}
.distance{
    text-align: center;
    color: #FFFFFF;
    opacity: 50%;
    font-size: 16px;
    font-weight: 400;
}

.border-foot{
    margin: 0 auto;
    max-width: 1360px;
    align-items: end;
    justify-content: center;
    display: flex;
}

@media screen and (max-width:576px) {
    .choose-parent,
    .choos2-parent
    {
        grid-template-columns: 1fr;
        
    }
    .parent-view{
        grid-template-columns: repeat(2,1fr);
    }


.feature-episode{
    flex-direction: column;
}
.foot-contain{
    display: grid;
   grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}
.foot p{
    margin: 10px auto ;
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 80%;
}


.hero-pic2{
   
    background-image: url(../assets/hero-bg.png);
     height: 500px;
     background-size: 100%;
    background-position: center;
     background-repeat: no-repeat;
}


    
.foot{
    display: flex;
    gap: 4px;
    align-items: center;
}

nav{
    display: flex;
  align-items: center;
  justify-content: space-between;
   margin: 20px 60px;
  padding: 10px 10px;
    
}
.menu{
    display: block;
}
nav li{
    display: none;
}
.gap1{
    display: none;
}
.alex-kumar{
    flex-direction: column;
    text-align: center;
}
.met-acont{
     text-align: center;
    justify-content: center;
}
}


